# Node
node_modules/
dist/

# Environment variables
.env
.env.*
*.env
*.env.*
**/.env
**/.env.*
**/*.env
**/*.env.*
.env.local
.env.*.local
.env.development
.env.production
.env.test
.env.example
backend/.env

# Utility folders
tools/
temp/
archive/

# Legacy folders
frontend-legacy/
figma_starter/
frontend/.env
contracts/.env

# Logs
*.log

# Build output
*.tsbuildinfo

# IDE/editor
.vscode/
.idea/
.DS_Store

# Misc
*.local

# Local development artifacts
/backend/src/artifacts
