# Node
node_modules/
dist/

# Environment variables
.env
.env.*
*.env
*.env.*
**/.env
**/.env.*
**/*.env
**/*.env.*
.env.local
.env.*.local
.env.development
.env.production
.env.test
.env.example
backend/.env
frontend/.env
contracts/.env

# Logs
*.log

# Build output
*.tsbuildinfo

# IDE/editor
.vscode/
.idea/
.DS_Store

# Misc
*.local
